div.mx-auto.max-w-7xl.py-4.sm\:px-6.lg\:px-8.flex.justify-end
  = link_to 'Add Expenses', '/receipt_form/index', class: "inline-flex items-center rounded-md border border-transparent bg-gray-800 px-4 py-2 text-sm font-medium text-gray-200 shadow-sm hover:bg-fuchsia-700 hover:text-white focus:outline-none"
