//li.nav-item= link_to 'Dashboard', dashboard_path, class: 'nav-link'
li.nav-item= link_to 'Charts', charts_path, class: 'nav-link'
//li.nav-item= link_to 'About', page_path('about'), class: 'nav-link'